<%= erb :header %>
<article>
	<header>
		<h2><%= defined?(@person.name) ? 'Edit' : 'Create' %> User</h2>
	</header>

		<%= erb :error %>

		<form method="post" role="form" enctype="multipart/form-data">
		  <div class="form-group">
			<label for="title">Name:</label>
			<input name="name" type="text" class="form-control" id="title" required value="<%= defined?(@person.name)? @person.name : '' %>">
		  </div>
		  <div class="form-group">
			<label for="password">Password:</label>
			<input name="password" id="password"  class="form-control" type="password" value="<%= defined?(@person.password)? @person.password : ''  %>">
		  </div>
		  <div class="form-group">
			<label for="title">Job Title:</label>
			<input name="title" id="title"  class="form-control" type="text" value="<%= defined?(@person.title)? @person.title : ''  %>">
		  </div>
		  <div class="form-group">
			<label for="file">Avatar:</label>
			<input name="avatar" id="file"  class="form-control" type="text" value="<%= defined?(@person.avatar)? @person.avatar : ''  %>">
		  </div>
		  <div class="form-group">
			<label for="body">About:</label>
			<textarea name="about" class="form-control" rows="10" id="body"><%= defined?(@person.about)? @person.about : ''  %></textarea>
		  </div>

		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
</article>
<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script>
tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
         "save table contextmenu directionality emoticons template paste textcolor"
   ],
   content_css: "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css,/css/site.css",
   toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons", 
   setup: function(ed) {
      ed.addMenuItem('example', {
         text: 'Insert Code',
         context: 'tools',
         onclick: function() {
			ed.windowManager.open({
				title: 'Insert Code',
					body: [
						{type: 'listbox', name: 'type', label: 'Code','values': [
							{text: 'HTML', value: 'html'},
							{text: 'Ruby', value: 'ruby'},
							{text: 'PHP', value: 'php'}
						]},
						{type: 'textbox', name: 'title', label: 'Code'}
					],
					onsubmit: function(e) {
						ed.insertContent('<pre><code class="'+e.data.type+'">'+e.data.title+'</code</pre>');
					}
			});
		}
      });
   },
   style_formats: [
        {title: 'Bold text', inline: 'b'},
        {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
        {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
        {title: 'Example 1', inline: 'span', classes: 'example1'},
        {title: 'Example 2', inline: 'span', classes: 'example2'},
        {title: 'Table styles'},
        {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    ]
 }); 


</script>
<%= erb :footer %>
