<%= erb :header %>
 <div class="container">

    <header class="hidden-sm hidden-xs">
      <div class="bg"></div>
      <div class="jumbotron ">
        <h1 class="shadow" onclick="window.location='/'"><%= settings.site_name %></h1>
        <p class="shadow">
          <% if @featured %>
            <a href="/<%= @featured.slug %>"><%= @featured.title %></a>
          <% else %>
            <%= settings.site_slogan %>
          <% end %>
         </p>
      </div>
    </header>

    <div class="row">

      <section class="left-side col-md-9">
        <h2 class="hide"><%= @page_title ? @page_title : t.public.description.default %></h2>
          <%= erb :'flash/error' %>
          <%= erb :'flash/success' %>
          <%= yield %>
      </section>

      <aside class="col-md-3 p0">
        <%= @aside ? @aside : '' %>
        <%= erb :'blocks/init' %>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- asked.io -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8050598907834598"
     data-ad-slot="8836863462"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      </aside>

    </div>
</div>
<%= erb :footer %>