<article>
  <header>
    <h2><%= defined?(@post.slug) ? 'Edit' : 'Create' %> Post</h2>
  </header>
    <form id="form" method="post" role="form" enctype="multipart/form-data">

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <input type="checkbox" name="featured" value="1" <% if (defined?(@post.featured) && @post.featured) %>checked<% end %> title="Featured Post">
          </div>
          <input placeholder="Title" maxlength="50" name="title" type="text" class="form-control" id="title" required <% if defined?(@post.title) %>value="<%= @post.title %>"<% end %>>
        </div>
      </div>

      <div class="form-group">
        <textarea class="hidden" id="body" name="body"><%= defined?(@post.body)? @post.body : '' %></textarea>
        <div class="form-control" contenteditable="true" style="height: 500px; overflow:scroll" id="bodyi"><%= defined?(@post.body)? @post.body : '' %></div>
      </div>

      <div class="row">
        <div class="col-md-1 col-sm-6 col-xs-3">
              <div class="form-group">
                <label for="file" data-toggle="tooltip" data-placement="top" title="Upload Image"><em class="fa fa-image fa-3x"></em></label>
              </div>
        </div>
        <div class="col-md-3 col-sm-6  col-xs-9 ">
          <input placeholder="Template" maxlength="50" name="template" type="hidden" id="template"  value="<%= (defined?(@post.template) && @post.template) ? @post.template : 'layout' %>">
          <div class="row pull-right">
            <div class="col-sm-12">
              <div class="layout-picker pull-left <% if ((defined?(@post.template) && @post.template == 'layout')) || !defined?(@post.template) %>active<% end %>" title="2 Column" data-tpl="layout" data-toggle="tooltip" data-placement="top">
                  <div class="item pull-left" style="width: 28px; height: 100%"></div>
                  <div class="item pull-right" style="width: 5px; height: 100%"></div>
                  <div class="clearfix"></div>
              </div>

              <div class="layout-picker pull-left <% if (defined?(@post.template) && @post.template  == 'layouts/2column-alt') %>active<% end %>" title="2 Column Alt" data-tpl="layouts/2column-alt" data-toggle="tooltip" data-placement="top">
                  <div class="item pull-right" style="width: 28px; height: 100%"></div>
                  <div class="item pull-left" style="width: 5px; height: 100%"></div>
                  <div class="clearfix"></div>
              </div>

              <div class="layout-picker pull-left <% if (defined?(@post.template) && @post.template  == 'layouts/1column') %>active<% end %>" title="1 Column" data-tpl="layouts/1column" data-toggle="tooltip" data-placement="top">
                <div class="item" style="width: 100%; height: 100%"></div>
              </div>

              <div class="layout-picker pull-left <% if (defined?(@post.template) && @post.template == 'layouts/3column') %>active<% end %>" title="3 Column" data-tpl="layouts/3column" data-toggle="tooltip" data-placement="top">
                  <div class="item pull-left" style="width: 4px; height: 100%"></div>
                  <div class="item pull-left" style="margin-left: 2px; width: 22px; height: 100%"></div>
                  <div class="item pull-right" style="width: 4px; height: 100%"></div>
                  <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
              <div class="form-group">
                <select id="category" multiple name="category[]" class="form-control">
                  <% Category.all.each do |cat| %>
                    <option value="<%= cat.id %>" <%= defined?(@post.title) && @post.categories.include?(cat) ? 'selected' : '' %>><%= cat.title %></option>
                  <% end %>
                </select>
              </div>
        </div>
        <div class="col-md-4">

              <div class="form-group">
                <select id="tags" multiple name="tags[]" class="form-control">
                   <% Tag.all.each do |tag| %>
                    <option value="<%= tag.id %>" <%= defined?(@post.title) && @post.tags.include?(tag) ? 'selected' : '' %>><%= tag.title %></option>
                  <% end %>
               </select>
              </div>
        </div>
      </div>


      <div class="form-group" style="display:none" id="banner_position">
        <div class="form-group">
        <label for="position">Banner Position</label>
        <select id="position" name="position" class="form-control">
          <option value="top" <%= defined?(@post.title) && @post.position == 'top' ? 'selected' : '' %>>top</option>
          <option value="left" <%= defined?(@post.title) && @post.position == 'left' ? 'selected' : '' %>>left</option>
          <option value="right" <%= defined?(@post.title) && @post.position == 'right' ? 'selected' : '' %>>right</option>
        </select>
        </div>
        <input placeholder="https://<img url>" <% if !defined?(@post.slug) %>class="hidden"<% end %> style="margin-bottom: 10px" onclick="$('#banner_position').show()" class="form-control pull-left" id="file" type="<% if defined?(@post.slug) %>text<% else%>file<% end %>" name="myfile" <% if defined?(@post.title) %>value="<%= @post.image %>"<% end %>>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <button onclick="$('#draft').removeAttr('checked')" type="submit" class="btn btn-primary btn-block">Save Post</button>
        </div>
        <div class="col-sm-6">
          <button onclick="$('#draft').attr('checked', true)" type="submit" class="btn btn-warning btn-block">Save Draft</button>
        </div>
      </div>

      <input class="hidden" id="draft" <% if defined?(@post.slug) && @post.draft == 1 %>checked<% end %> name="draft" value="1" id="draft" type="checkbox">
    </form>
</article>
<% @footer = %Q{
    <link rel="stylesheet" property="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script>
      $("#category").select2({
        tags: true, placeholder :'Categories', width: '100%'
      });
      $("#tags").select2({
        tags: true, placeholder :'Tags', width: '100%'
      });
      $('.layout-picker').on('click', function(){
         $('.layout-picker').removeClass('active');
         $(this).addClass('active');
        $('#template').val($(this).data('tpl'));
      });
    </script>

  <script src="/js/plugins/ckeditor/ckeditor.js"></script>
  <script>
    CKEDITOR.plugins.addExternal('imageupload', '/js/plugins/ckeditor/plugins/imageupload/', 'plugin.js');
    var editor = CKEDITOR.inline('bodyi', {
      extraPlugins: 'imageupload,codesnippet,sourcedialog',
      toolbar: [
        { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: ['Templates', 'Paste', 'PasteText', 'Scayt' ] },
        { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
        { name: 'insert', items: [ 'Image', 'Flash', 'Table' ] },
        { name: 'colors', items: [ 'TextColor', 'BGColor', '-','ShowBlocks'  ] },
        '/',
        { name: 'links', items: [ 'Link', 'Unlink' ] },
        { name: 'others', items: [ 'Source', 'Imageupload', 'CodeSnippet', 'SourceDialog' ] },
        { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
        { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat', '-', 'HorizontalRule' ] },
      ],
      on: {
        instanceReady: function() {
            periodicData();
        }
     }
    });

    var periodicData = ( function(){
      var data, oldData;

      return function() {
          if ( ( data = editor.getData() ) !== oldData ) {
              oldData = data;
              $('#body').val(data);
          }
        setTimeout( periodicData, 1000 );
     };
   })();
  </script>
  <script>
    $('#form').postJson(function( data ) {
      if(data.success){
        window.location=data.success
      }else if(data.failed){
        alert('Sorry, something was wrong: ' + data.failed);
      } else alert('Sorry, something went very wrong: ' + data);
    });
  </script>
} %>