<%= erb :header %>
<article>
	<header>
		<h2><%= defined?(@post.slug) ? 'Edit' : 'Create' %> Post</h2>
	</header>

		<%= erb :error %>

		<form method="post" role="form" enctype="multipart/form-data">
		  <div class="form-group">
        <label for="title">Title:</label>
        <input maxlength="50" name="title" type="text" class="form-control" id="title" required <% if defined?(@post.title) %>value="<%= @post.title %>"<% end %>>
		  </div>
		  <div class="form-group">
        <label for="category">Category:</label>
        <select id="category" multiple name="category[]" class="form-control" required>
          <% Category.all.each do |cat| %>
            <option value="<%= cat.id %>" <%= defined?(@post.title) && @post.categories.include?(cat) ? 'selected' : '' %>><%= cat.title %></option>
          <% end %>
        </select>
		  </div>
		  <div class="form-group">
        <label for="file">Banner Image:</label>
        <input class="form-control" id="file" type="<% if defined?(@post.slug) %>text<% else%>file<% end %>" name="myfile" <% if defined?(@post.title) %>value="<%= @post.image %>"<% end %>>
		  </div>
		  <div class="form-group">
        <label for="position">Banner Position</label>
        <select id="position" name="position" class="form-control" required>
          <option value="top">top</option>
          <option value="left">left</option>
          <option value="right">right</option>
        </select>
		  </div>

		  <div class="form-group">
        <label for="body">Body:</label>
        <textarea name="body" class="form-control" rows="20" id="body"><%= defined?(@post.body)? @post.body : '' %></textarea>
		  </div>

		  <div class="form-group">
        <label for="tags">Tags:</label>
        <select id="tags" multiple name="tags[]" class="form-control">
           <% Tag.all.each do |tag| %>
            <option value="<%= tag.id %>" <%= defined?(@post.title) && @post.tags.include?(tag) ? 'selected' : '' %>><%= tag.title %></option>
          <% end %>
       </select>
		  </div>


		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
</article>
<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script>
tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
         "save table contextmenu directionality emoticons template paste textcolor"
   ],
   content_css: "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css,/css/site.css",
   toolbar: "styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image |  media fullpage | forecolor backcolor emoticons", 
   setup: function(ed) {
      ed.addMenuItem('example', {
         text: 'Insert Code',
         context: 'tools',
         onclick: function() {
			ed.windowManager.open({
				title: 'Insert Code',
					body: [
						{type: 'listbox', name: 'type', label: 'Code','values': [
							{text: 'HTML', value: 'html'},
							{text: 'Ruby', value: 'ruby'},
							{text: 'PHP', value: 'php'}
						]},
						{type: 'textbox', name: 'title', label: 'Code'}
					],
					onsubmit: function(e) {
						ed.insertContent('<pre><code class="'+e.data.type+'">'+e.data.title+'</code</pre>');
					}
			});
		}
      });
   }
 }); 

</script>

<% @footer = %Q{
		<link rel="stylesheet" property="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
		<script>
			$("#category").select2({
			  tags: true
			});
			$("#tags").select2({
			  tags: true
			});
      $('.bg, .jumbotron').remove()

		</script>
} %>
<%= erb :footer %>