<%= erb :header %>
		<a href="/create" class="btn btn-primary"><em class="fa fa-plus"></em> Create Post</a>

  <h3><a href="posts/<%= @post.slug %>"><%= @post.title %></a> <a href="delete/<%= @post.slug %>"><em class="fa fa-trash"></em></a></h3>
  <h4><%= @post.created_at %></h4>
  <p><%= @post.body %></p>

<%= erb :footer %>
