<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Asked.io: <%= @page_title %></title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="Asked.io: <%= @page_title %>">
	<meta property="og:type" content="blog">
	<meta property="og:url" content="https://asked.io<%= @post ?  "/posts/#{@post.slug}" : '' %>">
	<meta property="og:site_name" content="Asked.io">
	<meta property="og:description" content="<%= @page_description %>">
	<meta property="og:image" content="https://asked.io<%= @page_image ?  @page_image : '/images/cover_sm.jpg' %>">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@asked_io">
	<meta name="twitter:title" content="Asked.io: <%= @page_title %>">
	<meta name="twitter:description" content="<%= @page_description %>">
	<meta name="twitter:image" content="https://asked.io<%= @page_image ?  @page_image : '/images/cover_sm.jpg' %>">

	<%= erb :style %>

  </head>
  <body>
  <div class="container">
	<header><br></header>
	<div class="bg"></div>
	<div class="jumbotron">
        <h1 onclick="window.location='/'">Asked.io:</h1>
        <p>A day-to-day log of the questions we've asked &amp; the answers we've found.</p>
			<p>
			<form class="form-inline pull-left" method="post" action="/search" role="search" id="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</div>
				</div>
			</form>
			<% if authorized? %>
				&nbsp;	
				<a href="/create" class="btn btn-primary"><em class="fa fa-plus"></em> Create Post</a> 
				<a href="/profile/create" class="btn btn-info"><em class="fa fa-user-plus"></em></a>
				<a href="/profile" class="btn btn-success"><em class="fa fa-user"></em> Profile</a>
			<% end %>
		</p>
      </div>
	  <div class="row">
	<section class="col-md-8">
		<h2 class="hide">Blog List</h2>
