<!DOCTYPE html>
<html lang="en">
  <head>
	<title><%= $site_name %> <%= @page_title %></title>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="<%= $site_name %> <%= @page_title %>">
	<meta property="og:type" content="blog">
	<meta property="og:url" content="<%= $site_url %><%= @post ?  "/posts/#{@post.slug}" : '' %>">
	<meta property="og:site_name" content="<%= $site_name %>">
	<meta property="og:description" content="<%= @page_description %>">
	<meta property="og:image" content="<%= $site_url %><%= @page_image ?  @page_image : '/images/cover_sm.jpg' %>">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="<%= $site_twitter %>">
	<meta name="twitter:title" content="<%= $site_name %> <%= @page_title %>">
	<meta name="twitter:description" content="<%= @page_description %>">
	<meta name="twitter:image" content="<%= $site_url %><%= @page_image ?  @page_image : '/images/cover_sm.jpg' %>">

	<%= erb :style %>

  </head>
  <body>
  <div class="container">

    <header>
      <br>
      <div class="bg"></div>
      <div class="jumbotron ">
        <h1 class="shadow" onclick="window.location='/'"><%= $site_name %></h1>
        <p class="shadow"><%= $site_slogan %></p>
      </div>
    </header>

	  <div class="row">
      <section class="col-md-8">
        <h2 class="hide">Blog List</h2>