<%= erb :header %>
<div class="container">
  <div class="row">
    <section class="left-side col-md-9">
      <h2 class="hide">Blog List</h2>
      <%= erb :'flash/error' %>
      <%= erb :'flash/success' %>
      <%= yield %>
    </section>

    <aside class="right-side col-md-3 p0">
      <%= @aside ? @aside : '' %>
      <%= erb :'blocks/init' %>
    </aside>
  </div>
</div>
<%= erb :footer %>