<article>
	<% if @posts.length == 0 %>
		<header><h2>No results found :(</h2></header>
	<% else %>
		<header><h2><%= @page_title %></h2></header>
		<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
 				<% if authorized? %>
        <th>Posts</th>
        <th>Control</th>
				<% end %>
       </tr>
    </thead>
     <tbody>
		<% @posts.each do |post| %>
			<tr>
				<td><a href="/<%= @page_slug %>/<%= post.slug %>"><%= post.title %></a></td>
				<% if authorized? %>
				<td><%= post.posts.length %></td>
					<td align="right" width="80">
						<a href="/admin/<%= @page_slug %>/edit/<%= post.id %>"><em class="fa fa-cog"></em></a> &nbsp; 
						<a href="/admin/<%= @page_slug %>/delete/<%= post.id %>"><em class="fa fa-trash"></em></a> 
					</td>
				<% end %>
			</tr>
		<% end %>
    </tbody>
		</table>
	<% end %>
	<%= will_paginate @posts, renderer: BootstrapPagination::Sinatra %>
</article>