<%= erb :header %>
<article>
	<header>
		<h2><%= defined?(@person.title) ? 'Edit' : 'Create' %> <%= @page_title %></h2>
	</header>

		<%= erb :error %>

		<form method="post" role="form" enctype="multipart/form-data">
		  <div class="form-group">
        <label for="title">Name:</label>
        <input name="title" type="text" class="form-control" id="title" required value="<%= defined?(@person.title)? @person.title : '' %>">
		  </div>
		  <div class="form-group">
        <label for="slug">Slug:</label>
        <input name="slug" type="text" class="form-control" id="slug" required value="<%= defined?(@person.slug)? @person.slug : '' %>">
		  </div>
		  <div class="form-group">
        <label for="body">Description</label>
        <textarea name="description" class="form-control" rows="10" id="body"><%= defined?(@person.description)? @person.description : ''  %></textarea>
      </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
</article>
<%= erb :'admin/tinymce' %>
<%= erb :footer %>