<article>
  <% if @data.length == 0 %>
    <header><h2>No results found :(</h2></header>
  <% else %>
    <header><h2><%= @page_title %></h2></header>
    <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <% if authorized? %>
        <th>Control</th>
        <% end %>
       </tr>
    </thead>
     <tbody>
    <% @data.each do |post| %>
      <tr>
        <td><a href="/<%= @page_slug %>/edit/<%= post.id %>"><%= post.title %></a></td>
        <% if authorized? %>
          <td align="right" width="80">
            <a href="/<%= @page_slug %>/edit/<%= post.id %>"><em class="fa fa-cog"></em></a> &nbsp;
            <a href="/<%= @page_slug %>/delete/<%= post.id %>"><em class="fa fa-trash"></em></a>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
    </table>
  <% end %>
  <%= will_paginate @data, renderer: BootstrapPagination::Sinatra %>
</article>